---
Language: Cpp
BasedOnStyle: WebKit
IndentRequires: false
PointerAlignment: Right
QualifierAlignment: Right
SeparateDefinitionBlocks: Always
FixNamespaceComments: true
ShortNamespaceLines: 0
AlignArrayOfStructures: Right
AllowShortFunctionsOnASingleLine: false
# RequiresClausePosition: OwnLine
